<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ridos.immersive_3d.com.ridos" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="ridos.immersive_3d.com.ridos.permission.C2D_MESSAGE" />
    <uses-permission android:name="ridos.immersive_3d.com.ridos.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/car_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity

            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ridolist_view"
            android:label="@string/title_activity_ridolist_view"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ridodriver"
            android:label="@string/title_activity_ridodriver"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".tips"
            android:label="@string/title_activity_tips"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".signup"
            android:label="@string/title_activity_signup"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".choose_rido_drivers"
            android:label="@string/title_activity_choose_rido_drivers"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".requestRide"
            android:label="@string/title_activity_request_ride"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".list"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".driverTips"
            android:label="@string/title_activity_driver_tips"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SingleItem"
            android:label="@string/title_activity_single_item"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".JiverChatActivity"
            android:label="JIVER"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".JiverMemberListActivity"
            android:label="JIVER"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".JiverChannelListActivity"
            android:label="JIVER"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".JiverMessagingActivity"
            android:label="JIVER"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <activity
            android:name=".JiverMessagingChannelListActivity"
            android:label="JIVER"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            >
        </activity>
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />


                <category android:name="ridos.immersive_3d.com.ridos" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
